JingMei/win/Connected Services/ProjectService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Project/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="getAllList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAllListResult" nillable="true" type="q1:ArrayOfproject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectStatu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectStatuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProjectStatuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProjectStatu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStatu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProjectStatuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProjectStatuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectStatuName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProjectStatuNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProjectStatuNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCheckInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkPersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCheckInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCheckInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="model" nillable="true" type="q2:project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasUnreadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasUnreadMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasUnreadMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasNGMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasNGMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasNGMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNGMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNGMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNGMessageResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>