JingMei/win/Connected Services/ResourceService/Resource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Resource" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ResourceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:8755/Resource/?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8755/Resource/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8755/Resource/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8755/Resource/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="projectID" element="tns:projectID" />
    <wsdl:part name="resourceName" element="tns:resourceName" />
    <wsdl:part name="uploadPerson" element="tns:uploadPerson" />
  </wsdl:message>
  <wsdl:message name="IResource_Upload_OutputMessage" />
  <wsdl:message name="IResource_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IResource_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IResource_getFileName_InputMessage">
    <wsdl:part name="parameters" element="tns:getFileName" />
  </wsdl:message>
  <wsdl:message name="IResource_getFileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IResource_deleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFile" />
  </wsdl:message>
  <wsdl:message name="IResource_deleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IResource">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IResource/Upload" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResource/UploadResponse" message="tns:IResource_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IResource/Download" message="tns:IResource_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResource/DownloadResponse" message="tns:IResource_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IResource/getFileName" message="tns:IResource_getFileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResource/getFileNameResponse" message="tns:IResource_getFileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IResource/deleteFile" message="tns:IResource_deleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResource/deleteFileResponse" message="tns:IResource_deleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourceService" type="tns:IResource">
    <wsp:PolicyReference URI="#ResourceService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://tempuri.org/IResource/Upload" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap12:header message="tns:FileUploadMessage_Headers" part="projectID" use="literal" />
        <soap12:header message="tns:FileUploadMessage_Headers" part="resourceName" use="literal" />
        <soap12:header message="tns:FileUploadMessage_Headers" part="uploadPerson" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap12:operation soapAction="http://tempuri.org/IResource/Download" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileName">
      <soap12:operation soapAction="http://tempuri.org/IResource/getFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <soap12:operation soapAction="http://tempuri.org/IResource/deleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Resource">
    <wsdl:port name="ResourceService" binding="tns:ResourceService">
      <soap12:address location="net.tcp://localhost:8756/Resource/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8756/Resource/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-FCNHL7F\ives</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpBinding_IResource" binding="i0:MetadataExchangeHttpBinding_IResource">
      <soap12:address location="http://localhost:8755/Resource/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8755/Resource/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>